APScheduler>=3.0.1
Flask>=0.10.1
Jinja2>=2.7.3
MarkupSafe>=0.23
Scrapy>=0.24.4
Twisted>=14.0.0
Werkzeug>=0.9.6
XlsxWriter>=0.6.4
argparse>=1.2.1
cffi>=0.8.6
cryptography>=0.6.1
cssselect>=0.9.1
futures>=2.2.0
gunicorn>=19.1.1
itsdangerous>=0.24
lxml>=3.3.3
pg8000>=1.10.1
pyOpenSSL>=0.14
pycparser>=2.10
pycrypto>=2.6.1
pytz>=2014.9
queuelib>=1.2.2
six>=1.8.0
tzlocal>=1.1.2
unicodecsv>=0.9.4
w3lib>=1.10.0
wsgiref>=0.1.2
zope.interface>=4.1.1
