<div>
    <div style="width:50%;margin:0 auto;margin-bottom:15px;">
        <a class="btn btn-primary btn-sm" href="/blocked_contacts/extract/csv">Export Blocked Contacts</a>
        <a class="btn btn-success btn-sm" file-upload="/blocked_contacts/import">Import Blocked Contacts</a>
    </div>

    <table class="table table-bordered table-striped table-hover" style="width:50%; margin:0 auto;">
        <thead>
        <tr>
            <th>Blocked Contact</th><th>Block Reason</th><th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in records">
            <td ng-if="!record.is_new">[[ record.contact ]]</td>
            <td ng-if="record.is_new"><input type="text" ng-model="record.contact"/></td>

            <td ng-if="!(record.is_new || record.is_modify)">[[ record.block_reason ]]</td>
            <td ng-if="record.is_new || record.is_modify"><input type="text" ng-model="record.block_reason"/></td>

            <td ng-if="!(record.is_new || record.is_modify)">
                <span class="glyphicon glyphicon-trash inline_icon_btn" ng-click="remove($index)"></span>
                <span class="glyphicon glyphicon-edit inline_icon_btn" ng-click="modify($index)"></span>
            </td>
            <td ng-if="record.is_new || record.is_modify"><span class="glyphicon glyphicon-floppy-disk inline_icon_btn" ng-click="save(record)"></span></td>
        </tr>
        <tr>
            <td colspan="3" class="text-right"><span class="glyphicon glyphicon-plus inline_icon_btn" ng-click="add_new()"></span></td>
        </tr>
        </tbody>
    </table>
</div>
