<div class="page-header">
    <h2>Crawled Jobs</h2>
</div>

<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Source</th><th>Job Title</th><th>Job Location</th>
            <th>Contact</th><th>Publish Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="job in jobs">
            <td>[[ job.source ]]</td>
            <td><a href="[[job.job_details_link]]" target="_blank" tooltip title="[[ job.job_desc ]]" >[[ job.job_title ]]</a></td>
            <td>[[ job.job_location ]]</td>
            <td>[[ job.contact ]]</td>
            <td>[[ job.publish_date | limitTo:10 ]]</td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <ul class="pagination">
            
             <span ng-click="toPreviousPage()" class="glyphicon glyphicon-backward pagination_btn">
             </span>

              <span>
                <input id="page_no_box" class="form-control" ng-model="page_request.page_no">&nbsp; of &nbsp; [[ paged_result.total_pages]]
            </span>

             <span ng-click="toNextPage()" class="glyphicon glyphicon-forward pagination_btn"></span>
           
            <span>
                Page Size
                <select class="form-control" id="page_size_box" ng-model="page_request.size" ng-options="page_size for page_size in page_size_options">
                </select>
            </span>
        </ul>
    </div>

</div>