<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head lang="en">
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Board</title>
    <link rel='shortcut icon' href="{{ url_for('static', filename='image/favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
	
<div class="container">
      <div ng-view></div>
  </div>

  <footer class="" role="contentinfo">
      <div class="container">
          
      </div>
  </footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.2.0/angular.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.2.0/angular-resource.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.2.0/angular-route.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.2.0/angular-sanitize.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>
</body>
</html>