<div>
    <div class="table-toolbar">
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Source</th><th>Job Title</th><th>Job Location</th>
            <th>Contact</th><th>Publish Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="job in jobs">
            <td><span ng-bind-html="job.source | displayAsIcon"></span></td>
            <td><a href="[[job.job_details_link]]" target="_blank" tooltip title="[[ job.job_desc ]]" >[[ job.job_title ]]</a></td>
            <td>[[ job.job_location ]]</td></td>
            <!-- <td><span ng-bind-html="job.contact | displayAsPhoneLink" rightclick="markAsAgentContact(job.contact)"></span></td> -->
            <td style="min-width:150px;">
                <span ng-bind-html="job.contact | displayAsPhoneLink" contact-contextmenu style="display:inline-block;"></span>
                &nbsp;
                <span ng-if="isContactBlocked(job.contact)" class="glyphicon glyphicon-warning-sign" style="display:inline-block;"></span>
            </td>
            <td>[[ job.publish_date | limitTo:10 ]]</td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">

        <ul class="pagination">
            
             <span ng-click="toPreviousPage()" class="glyphicon glyphicon-backward pagination_btn">
             </span>

              <span>
                <input id="page_no_box" class="form-control" ng-model="page_request.page_no">&nbsp; of &nbsp; [[ paged_result.total_pages]]
            </span>

             <span ng-click="toNextPage()" class="glyphicon glyphicon-forward pagination_btn"></span>
           
            <span>
                Page Size
                <select class="form-control" id="page_size_box" ng-model="page_request.size" ng-options="page_size for page_size in page_size_options">
                </select>
            </span>
            <div loading-indicator></div>
        </ul>
    </div>

</div>