<div>
    <table class="table table-bordered table-striped table-hover" style="width:50%">
        <thead>
        <tr>
            <th>Rejection Pattern</th><th>Rejection Reason</th><th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in records">
            <td>[[ record.reject_pattern ]]</td>
            <td>[[ record.reject_reason ]]</td>
            <td><span class="glyphicon glyphicon-trash" ng-click="remove($index)"></span></td>
        </tr>
        <tr>
            <td colspan="3" class="text-right"><span class="glyphicon glyphicon-plus" ng-click="add_new()"></span></td>
        </tr>
        </tbody>
    </table>
</div>
