body{
	/*background-color: #EFFBF5;*/
	font-family: 'Georgia', serif;
}

a { 
	color: #004B6B; 
}
a:hover{ 
	color: #6D4100; 
}

.page-header{

}
/*Overwrite the default font size used in bootstrap for tooltip*/
.tooltip{
	font-size: 14px;
}


.table-toolbar{
	text-align: right;
	margin-bottom: 10px;
}

.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody >t r:nth-child(odd)> th {
   background-color: #F8F8F8;
 }

.table-striped > tbody > tr:nth-child(even) > td, 
.table-striped > tbody >t r:nth-child(even)> th {
   background-color: #FFFFFF;
 }



.table-hover tbody tr:hover td {
    background-color: #FFFFCC;
}


#page_no_box{
	width: 70px;
	text-align: center;
	vertical-align: center;
	display: inline;
}

#page_size_box{
	width: 100px;
	text-align: center;
	vertical-align: center;
	display: inline;
}

.pagination_btn{
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.pagination_btn:hover{
	color: blue;
}

.siteImage{
	height: 30px;
	width: 80px;
}
