body{
	background-color: #EFFBF5;
}

.page-header{
	border-bottom: 1px solid #6E6E6E;
}
/*Overwrite the default font size used in bootstrap for tooltip*/
.tooltip{
	font-size: 14px;
}


.table-toolbar{
	text-align: right;
	margin-bottom: 10px;
}

#page_no_box{
	width: 70px;
	text-align: center;
	vertical-align: center;
	display: inline;
}

#page_size_box{
	width: 100px;
	text-align: center;
	vertical-align: center;
	display: inline;
}

.pagination_btn{
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.pagination_btn:hover{
	color: blue;
}
